@charset "UTF-8";

#usertable th {
  background-color: #3498db;
  border-color: #3498db;
  height: 40px;
  color: #fff;
  box-sizing: border-box;
  text-align: left;
  font-size: 12px;
  white-space: nowrap;
  border-width: 2px 0px 2px 0;
  font-weight: normal !important;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  padding: 4px;
}

#usertable th ul {
  float: right;
  height: 30px;
}

#usertable th span {
  position: relative;
  top: 5px;
  vertical-align: middle
}

#usertable td {
  padding: 4px;
  border-color: #e3e7e8;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  background-color: #f5f5f5;
  vertical-align: top
}

#test_ul {
  position: relative;
  left: -30px;
  list-style: none;
}

#test_ul .test {

  float: left;

}

#test_ul .test #csv {
  vertical-align: middle;
  box-sizing: border-box;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  position: absolute;
  /* top: 14px; */
  background-color: #e6e6e681;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

#csv .st0 {
  fill: #a7a7a7;
}

#test_ul .test #csv svg {
  position: relative;
  top: 9px;
  left: 9px;
  width: 23px;
  height: 23px;
}

#test_ul .test #csv:hover .st0 {
  fill: #ffffff;
}

#test_ul .test #csv:hover {
  background-color: #3498db;
}
